<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>學習歷程-線上學習平台</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/Reacter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    @*<link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="~/lib/docs.min.css">*@
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h1>學習歷程-線上學習平台</h1>
            </div>
            <nav>
                
                <link rel="stylesheet" href="~/css/LoginAndRegister.css">
                <ul>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Browse">Browse Resources</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Upload">Upload Resources</a>
                    </li>
                    <li>
                        <button class="btn btn-primary " id="LoginRegisterBT" data-bs-toggle="modal" data-bs-target="#authModal" >
                            Login / Register
                        </button>
                    </li>

                    <li>
                        <h4 id="username" style="display:none;"></h4>
                    </li>
                    <li>
                        <button class="btn btn-primary" id="logoutBtn" style="display:none;" onclick="Logout()" >
                            Logout
                        </button>
                    </li>
                    @* <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
                        <button class=" btn nav-link text-dark" id="loginBtn">Login</button>
                    </li> *@
                    @* <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
                    </li>
                    @* <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="~/upload.html">Upload Resources</a></li>
                    <li><a href="~/browse.html">Browse Resources</a></li>
                    <li><a href="#" id="loginBtn">Login</a></li> *@
                </ul>
            </nav>
        </div>
    </header>

    @RenderBody()
    

    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo">
                    <h2>學習歷程-線上學習平台</h2>
                    @* <p style="width: 250px;">目的是為了給予一個平台讓學弟妹能夠學習學長姐製作學習歷程的地方</p> *@
                </div>
                <div class="footer-links">
                    <h3>Quick Links</h3>
                    <ul>
                        @* <li><a href="index.html">Home</a></li>
                        <li><a href="upload.html">Upload Resources</a></li> *@
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Upload">Upload Resources</a>
                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Browse">Browse Resources</a></li>
                        @* <li><a href="browse.html">Browse Resources</a></li> *@
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <h3>Connect With Us</h3>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            @* <div class="footer-bottom">
                <p>&copy; 2025 Exam Resources Hub. All rights reserved.</p>
            </div> *@
        </div>
    </footer>



    
  <!-- Modal -->
  <div class="modal fade authModal" id="authModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
                <div class="modal-header" style="display:flex;justify-content: space-between;">
          <p id="modalTitle" class="modal-title">Login</p>
          <button type="button" class="btn-close" data-bs-dismiss="modal">X</button>
        </div>

        <div class="modal-body">
          <!-- Login form -->
          <div id="loginForm">
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="text" class="form-control" id="EmailLogin" placeholder="Enter Email">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" id="PasswordLogin" placeholder="Enter password">
            </div>
             <button type="button" class="btn btn-primary w-100" id="Loginbt" onclick="Login()">Login</button>
          </div>

          <!-- Register form -->
          <div id="registerForm" class="d-none">
            <div class="mb-3">
              <label class="form-label">Username</label>
              <input type="text" id="Username" class="form-control" placeholder="Choose username">
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email"id="Email" class="form-control" placeholder="Enter email">
            </div>
            <div class="mb-3">
              <label class="form-label">密碼</label>
              <input type="password" id="Password" class="form-control" placeholder="Create password">
            </div>
            <div class="mb-3">
              <label class="form-label">在學學校名稱</label>
              <input type="text" id="School" class="form-control" placeholder="ex:YunTech">
            </div>
            <button type="button" class="btn btn-success w-100" id="Registerbt" onclick="Register()">Register</button>
          </div>
        </div>

        <div class="modal-footer">
          <button id="toggleForm" type="button" class="btn btn-link">Switch to Register</button>
        </div>
      </div>
    </div>
  </div>

    <script>
            const toggleBtn = document.getElementById("toggleForm");
            const loginForm = document.getElementById("loginForm");
            const registerForm = document.getElementById("registerForm");
            const modalTitle = document.getElementById("modalTitle");

            toggleBtn.addEventListener("click", () => {
              loginForm.classList.toggle("d-none");
              registerForm.classList.toggle("d-none");

              if (loginForm.classList.contains("d-none")) {
                modalTitle.textContent = "Register";
                toggleBtn.textContent = "Switch to Login";
              } else {
                modalTitle.textContent = "Login";
                toggleBtn.textContent = "Switch to Register";
              }
            });
            async function Login(){
                const Email = document.getElementById("EmailLogin");
                const Password = document.getElementById("PasswordLogin");
                if(Email.value === "" || Password.value === ""){
                    alert("請填寫所有欄位");
                    return;
                }
                
                if(!Email.value.includes("@@")){
                    alert("請輸入正確的Email格式");
                    return;
                }
                const user = {
                    Password: Password.value,
                    Email: Email.value
                };
                const response = await fetch('/Users/Login', {
                    method: 'POST',
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(user)
                });
                if (response.ok) {
                    // const data = await response.json();
                    alert("登入成功");
                    window.location.reload();
                } else {
                    // const errorData = await response.json();
                    // alert("登入失敗: " + errorData.message);
                }
            }
            async function Register(){
                const Username = document.getElementById("Username");
                const Email = document.getElementById("Email");
                const Password = document.getElementById("Password");
                const School = document.getElementById("School");
                if(Username.value === "" || Email.value === "" || Password.value === "" || School.value === ""){
                    alert("請填寫所有欄位");
                    return;
                }
                
                if(!Email.value.includes("@@")){
                    alert("請輸入正確的Email格式");
                    return;
                }

                const user = {
                    name: Username.value,
                    passowrd: Password.value,
                    school:School.value,
                    email: Email.value
                };

                const response = await fetch('/Users/Create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(user)
                });
                if (response.ok) {
                    const data = await response.json();
                    alert("註冊成功");
                    window.location.reload();
                } else {
                    const errorData = await response.json();
                    alert("註冊失敗: " + errorData.message);
                }
             }
             async function CheckName(){
                const response = await fetch('/Users/GetUserInfo', {
                    method: 'GET',
                    headers: { 'Content-Type': 'application/json' }
                });
                const result = await response.json();

                if (result.success) {
                    document.getElementById("username").innerText = "Welcome, " + result.name;
                    document.getElementById("username").style.display = 'flex';
                    document.getElementById("logoutBtn").style.display = 'flex';
                    document.getElementById("LoginRegisterBT").style.display = 'none';
                }
            }
            async function Logout(){
                const response = await fetch('/Users/Logout', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                    });
                    if (response.ok) {
                        alert("登出成功");
                        window.location.reload();
                    } else {
                        const errorData = await response.json();
                        alert("登出失敗: " + errorData.message);
                    }
            }
        CheckName();
    </script>
    @* <script src="./js/script.js"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>